@{
    ViewBag.Title = "Blue Cinema Movie Rentals";
}

<div class="jumbotron">
    <img src="http://i.imgur.com/cXfNyDd.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movie List</h2>
        <p>
            We try to keep our favorites always in stock.
        </p>
        <p>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
    <div class="col-md-4">
        <h2>Client List</h2>
        <p>We love our clients.</p>
        <p>@Html.ActionLink("Clients", "Index", "Clients", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
    <div class="col-md-4">
        <h2>Rental Logs</h2>
        <p>You can easily see when your movie is due.</p>
        <p>@Html.ActionLink("Rental Logs", "Index", "Rentals", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
</div>