@{
    ViewBag.Title = "Blue Cinema Movie Rentals";
}

<div class="jumbotron">
    <img src="http://i.imgur.com/cXfNyDd.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Clients", "Index", "Clients", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Rental Logs", "Index", "Rentals", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
</div>